* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-weight: 900;
    text-transform: uppercase;
}

.title_colored {
    color: #f9bf3b;
    font-size: 41px;
    line-height: 41px;
}

.title_big {
    color: #fff;
    font-size: 80px;
    line-height: 80px;
}


.medium {
    font-weight: 500px;
}


.promo {
    min-height: 800px;
    background: url('../img/main_bg.jpg') center center / cover no-repeat;
    padding: 22px 0 53px 0;
}

.btn {
    min-width: 315px;
    min-height: 72px;
    margin: 0 auto;
    padding: 0, 15px;
    display: block;
    border-color: transparent;
    border-radius: 4px;
    background: linear-gradient(0deg, #ff4d00 0%, #feb05d 100%);
    color: #fff;
    text-align: center;
    text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.22);
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    cursor: pointer;
}

.logo_img {
    display: block;
    margin: 0 auto;
}

.logo_text {
    margin-top: 13px;
    text-align: center;
    color: #FFF;
    font-size: 16 px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.promo h1 {
    margin-top: 52px;
}

.promo h2 {
    margin-top: 12px;
}

.promo .btn {
    margin-top: 75px;
}

.promo_text {
    text-align: center;
    margin-top: 20px;
    color: #fff;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
}

.promo_text span {
    color: #f9bf3b;
    text-transform: uppercase;
}


.promo_more-text {
    margin-top: 75px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.promo_more-img {
    margin-top: 10px;
    display: block;
    margin: 10px auto 0 auto;
}

.intensive {
    background-color: #efefef;
    padding: 80px 0;

}

.intensive_title {
    color: #252525;
    font-size: 30px;
    font-weight: 500;
}

.devider {
    margin: 14px auto 0 auto;
    width: 220px;
    height: 7px;
    background-color: #f9bf3b;
}

.intensive_subtitle {
    margin-top: 15px;
    color: #4a4a4a;
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    line-height: normal;
}

.intensive_wrapper {
    display: flex;
    margin-top: 42px;
    justify-content: space-between;
}

.intensive_item {
    width: 360px;
}

.intensive_img {
    width: 100%;
}

.intensive_descr {
    margin-top: 15px;
    color: #4a4a4a;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}


.info {
    min-height: 564px;
    background: #040000;
    padding: 100px 0 140px 0;

}

.info_title {
    color: #f9bf3b;
    font-size: 30px;
    text-align: right;
}

.info_text {
    position: relative;
    padding-left: 390px;
    color: #FFF;
    text-align: right;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    z-index: 2;
}

.info_text.medium {
    font-weight: 500;
}


.info_img {
    position: absolute;
    top: 93px;
    left: -83px;
    z-index: 1;
}



.skills {
    background: url('../img/secondary_bg.jpg') center center / cover no-repeat;
    padding: 80px 0 102px 0;
}

.skills_title {
    color: #efefef;
    font-size: 30px;
    font-weight: 400;
}

.skills_wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.skills_item {
    width: 224px;
}

.skills_round {
    width: 118px;
    height: 118px;
    margin: 0 auto;
    border-radius: 100%;
    background: #f9bf3b;
    display: flex;
    justify-content: center;
    align-items: center;
}


.skills_desc {
    margin-top: 18px;
    color: #efefef;
    text-align: center;
    font-size: 16px;
    font-weight: 300;
}

.bonuses {
    padding: 80px 0 102px 0;
    background: #efefef;
}

.bonuses_icon {
    display: block;
    margin: 0 auto;

}

.bonuses_slogan {
    font-size: 30px;
    text-transform: none;
    margin: 80px auto 40px auto;
    line-height: 150%;
}

.bonuses .btn {
    margin-top: 0;
}


.webinar{
    margin: 0 auto;
    background: #040000;
    padding: 50px 0;
}

.webinar_bg {
    display: block;
    margin: 0 auto;
}

.webinar_title{
    color:#efefef;
    text-transform: uppercase;
    text-align: center;
    margin:30px 0 30px 0;
    font-size: 30px;

}

.webinar .title_colored{
    text-transform: uppercase;
    text-align: center;
    font-size: 36px;
}

.webinar_subtitle{
    color:#efefef;
    text-align: center;
    margin-top: 20px;
    font-size: 23px;
    font-weight: 500;
}

.contacts{
    margin: 0 auto;
    background: #1A1A1A;
    padding: 50px 0;

}

.contacts_wrapper{
    margin: 0 auto;
    width: 180px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}
.contacts_hyperlink{
    color:#888888;
    text-align: center;
    margin: 5px auto;
    font-size: 16px;
    font-weight: 300;
}